<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="todolist.css/todolist.css">
    <title>To-Do List</title>
</head>
<body>
    <div id="app">
        <header>
            <img id="img" src="img/Logo.png" alt="">
            <span id="text-logo">To-Do List</span>
        </header>
        <div id="container">
            <input type="text"id="" v-model="newTask" @keyup.enter="aggiungiTask" placeholder="Inserire Todolist">
            <button class="button" @click="aggiungiTask">Aggiungi</button>
            <div>
                <h1>To-Do List</h1>
                <ul>
                  <li v-for="task in tasks" 
                  :class="task.done === true ? 'line' : ''">
                    <span>{{task.text}}</span>
                    <i class="fa-solid fa-x" @click="rimuovereTask(index)"></i>
                  </li>
                </ul>
            </div>

        </div>


    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="todolist.js/todolist.js"></script>
</body>
</html>